<form action="/result" method="POST">
  Your Name:<br>
  <input type="text" name="fullname" value="">
  <br>
  <select> Dojo Location:
    <option value="MV">MV</option>
    <option value="SJ">SJ</option>
    <option value="NY">NY</option>
    <option value="LA">LA</option>
  </select>
  <br>
  <select> Favorite Language:
    <option value="JS">JS</option>
    <option value="Python">Python</option>
    <option value="Swift">Swift</option>
    <option value="C++">C++</option>
  </select>
  <br>
  Comment (optional):
  <textarea rows="4" cols="50" name="comment" form="usrform">
  </textarea>
  <br>
  <input type="submit">
  <br>
</form>
