<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Survey Form Result</title>
  </head>
  <body>
    <!-- <h6>This is the result of the submitted form.</h6> -->
    <h6>Successfully submitted form <%=user_data.fullname%> <%=user_data.comment%> </h6>
  </body>
</html>
