<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
      <h1>Hi Martha!</h1>

      <h2><a href="/new">Add a Question</a></h2>
      <h2><a href="/">Logout</a></h2>
      Search:
      <input type="text" name="search" value="" ng-model="search">
      <table>
        <thead>
          <tr>
            <th>Question</th>
            <th>Answers</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>What was the first ice cream flavor?</td>
            <td>3</td>
            <td><a href="#!/show">Show</a><br><a href="#!/answer">Answer</a></td>
          </tr>
          <tr>
            <td>What is Tim Burton's best movie?</td>
            <td>4</td>
            <td><a href="#!/show">Show</a><br><a href="#!/answer">Answer</a></td>
          </tr>
          <tr>
            <td>Best exercise for flabby arms</td>
            <td>1</td>
            <td><a href="#!/show">Show</a><br><a href="#!/answer">Answer</a></td>
          </tr>
          <tr>
            <td>Louvre's best art piece?</td>
            <td>18</td>
            <td><a href="#!/show">Show</a><br><a href="#!/answer">Answer</a></td>
          </tr>

        </tbody>
      </table>
  </body>
</html>
