<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Answer the Question</title>
  </head>
  <body>
      <h3><a href="#">Home</a></h3>
      <h3><a href="#">Go back to Question</a></h3>
      <h3><a href="#">Logout</a></h3>
      <h1>What was the first ice cream flavor?</h1>
      <h6>First ever ice cream flavor created?</h6>
      <h3>Your Answer</h3>
      <textarea name="name" rows="8" cols="80"></textarea><br>
      <h3>Supporting Details for your answer(optional)</h3>
      <textarea name="name" rows="8" cols="80"></textarea>
      <input type="submit" name="cancel" value="cancel" class="button">
      <input type="submit" name="submit" value="submit" class="button">
  </body>
</html>
