<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>form</title>
  </head>
  <body>
    <form action="/users" method="get">
      Name:<br>
      <input type="text" name="fullname"><br>
      Age:<br>
      <input type="text" name="age"><br>
      <input type="submit" value'"Submit">
    </form>
  </body>
</html>
