<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New Car</title>
    </head>
    <body>
        <h1>Add a Car</h1>
        <form action="/action_page.php">
            Car name:<br>
                <input type="text" name="carname" value="name">
                <br>
            Car type:<br>
                <input type="text" name="cartype" value="type">
                <br><br>
                <input type="submit" value="Submit">
        </form>
    </body>
</html>
