.container {
  height: 800px;
  width: auto;
  background-color: green;
}
.header {
  height: 200px;
  width: 900px;
  background-color: pink;
  padding: 10px;
}
.main {
  height: 500px;
  width: 800px;
  background-color: red;
}
div {
  height: 400px;
  width: 150px;
  background-color: yellow;
  display: inline-block;
}
img {
  vertical-align: top;}
