<!DOCTYPE html>
<html ng-app= "app">
  <head>
    <meta charset="utf-8">
    <title>Controller and Directives</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/angular.min.js">
    </script>
    <script src="app.js"></script>
  </head>
  <body>

    <form>
        Favorite food:<br>
        <input type="text" name="favorite_food" ng-model="favorite_food">
        <div ng-bind="favorite_food"></div>
        <br>

        <div ng-controller="MainController">
          <input ng-model="mydata">
          <h1>{{mydata}}</h1>
        </div>

        <button type="button">Add Food</button>
    </form>

    <form id="form1" runat="server" ng-app="ModuleName">
      <div ng-controller="ControllerName">
        <div ng-repeat= "product in products | filter: { color: 'blue' }; true">
          {{ product.name}}
        </div>
      </div>
    </form>
  </body>
</html>
