
<html ng-app='app'>
  <head>
    <meta charset="utf-8">
    <title>Products with a Factory</title>
    <script src="./bower_components/angular/angular.js" charset="utf-8"></script>
    <script src="./main.js" charset="utf-8"></script>
  </head>
  <body ng-controller='objectsController'>
    <h3>Products Controller</h3>
    <div ng-controller="productsController">
        <form class="" method="post" ng-submit="add({name: productName, price: productPrice})">
          <input type="text" name="productName" value=""placeholder="Product Name" ng-model="productName"><br>
          <input type="text" name="productPrice" value="" placeholder="Product Price" ng-model="productPrice"><br>
          <input type="submit" value="button"><br>
        </form>
        <table>
            <thead>
              <th>Name</th>
              <th>Price</th>
              <th>Actions</th>
            </thead>
            <tbody>
              <tr ng-repeat= "object in objects">
                  <td>{{ object.name }}</td>
                  <td>{{ object.price }}</td>
                  <td><button type="button" name="button" ng-click="delete(object)">Delete Product</button></td>
              </tr>
            </tbody>
        </table>
    </div>
    <div ng-controller="ordersController">
      <table>
        <thead>
          <th>Name</th>
          <th>Price</th>
          <th>Qty Available</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr ng-repeat="object in objects">
            <td>{{object.name}}</td>
            <td>{{object.price}}</td>
            <td>{{object.qtyavailable}}</td>
            <td><button type="button" name="buy" ng-click="decrementQty(object)">Buy</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
