<html>
<head>
  <title></title>
  <script src='bower_components/angular/angular.js'></script>
  <script type='text/javascript'>
    var myApp = angular.module('myApp', []);
    myApp.controller('friendsController', ['$scope', function ($scope){
      // we don't need a factory for this demo, it wouldn't make a difference if we did.
        $scope.friends = [
            {name:'Johnathan', age: 20.9, gender:'boy'},
            {name:'Jackie', age: 24.8, gender:'boy'},
            {name:'Urian', age: 26.1, gender:'boy'},
            {name:'Joey', age: 25.5, gender:'boy'},
            {name:'Amy', age: 28.5, gender:'girl'},
            {name:'Arnold', age: 19.1, gender:'boy'},
            {name:'Justin', age: 21.5, gender:'boy'},
            {name:'Ali', age: 30.2, gender:'boy'},
            {name:'Patrick', age: 23.3, gender:'boy'},
            {name:'Sam', age: 28.2, gender:'boy'}
        ];
    }])
  </script>
</head>
<body ng-app='myApp'>
    <div ng-controller='friendsController'>
      Search Friends: <input type="text" ng-model="filter_name">
      <ul>
        <li ng-repeat="friend in friends | orderBy:'name'">
          {{ friend.name }} - age {{ friend.age | number:0 }}, gender {{ friend.gender | uppercase }}
        </li>
      </ul>
    </div>
</body>
</html>
